name: Orihost AFK Bot

on:
  push:
  schedule:
    - cron: '0 */5 * * *'   # mỗi 5 tiếng (UTC)
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 300

    env:
      RAW_COOKIE: ${{ secrets.RAW_COOKIE }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run AFK script
        run: |
          python main.py
